# See https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Set repository-wide code owners. Replace with real usernames/teams.
* @dagiim
